{% extends "common/thank_you_page_base.html" %}
{% load static %}

{% block thank_you_title %}
    Thanks for signing up!
{% endblock %}

{% block thank_you_paragraph %}
    Look for our monthly newsletter headed your way. It's packed with the latest news, events and happenings in the
    Intrepid World. And thanks again for being the most important piece of any boat we build.
{% endblock %}

{% block thank_you_image %}
    {% static 'common/images/newsletter-thank-you-image.jpg' %}
{% endblock %}