.idea/*
.vscode/*
*.sqlite
*.pyc
wks*.*
intrepidboats/settings/local.py
cobertura-coverage.xml
.coverage
junit.xml
nosetests.xml
coverage.xml
.directory
.DS_Store

#Media
intrepidboats/media/*
/media/*

#Static
staticfiles/*

#Autoenv files
.autoenv.zsh
.autoenv_leave.zsh

#Workspaces
wks.*

cpd-report.xml
npm-debug.log

node_modules/
.nvmrc
.python-version
.env
workplace/*
.tmp/*

#Forum
/whoosh_index/

#virtualenv
env/*