{% load cms_tags static i18n sekizai_tags %}

<div role="tabpanel" class="tab-pane fade tab-testimonials" id="about">
  <div class="main">
    <div class="main-content">
      <h2>{% trans "ABOUT" %}</h2>
      <div class="text-center pl4 pr4">
        {% placeholder "About Text" %}
      </div>
      <hr />
      <h3 class="text-uppercase">{% trans "owner privileges" %}</h3>
      <div class="row">
        <div class="col-sm-5">
          {% placeholder "Owner Privileges Image" %}
        </div>
        <div class="col-sm-6">
          <p>{% placeholder "Owner Privileges Text" %}</p>
          <img src="{% static "difference/images/intrepid-powerboats-green.svg" %}" class="img-responsive img-signature">
        </div>
      </div>
      <hr />
      <h3 class="text-uppercase">{% trans "testimonials" %}</h3>
      <div class="gradient"></div>

      <ul class="bxslider" id="slider-testimonials">
        {% placeholder "Testimonials" %}
      </ul>

      <div class="gradient bottom"></div>

      <div class="row mt2">
        <div class="col-sm-8">
          <div class="dropup">
            <a href="{% url "difference:create_ticket" %}" type="button" class="text-uppercase" id="share-button">
              {% trans "share your testimonial with us" %}
            </a>
            <div class="dropdown-menu form-testimonial">
              <span class="button close gray" id="close-dropdown"></span>
              <p class="text-uppercase"><strong>{% trans "Share your testimonial with us" %}</strong></p>
              <p id="share-testimonial-prompt">{% trans "Let us know what you think of your Intrepid!" %}</p>
                {% include "difference/shared_testimonials/form.html" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
