{% extends "common/desktop_base.html" %}
{% load staticfiles i18n sekizai_tags cms_tags %}

{% block body_classes %}
    home
{% endblock body_classes %}

{% block pre_body %}
    {% if page_setting and page_assets %}
      <div class="home-background" style="display: none">
        <div class="video-wrapper">
        <ul class="bxslider">
          {% for page_asset in page_assets %}
            {% include "home/partials/page_asset.html" with page_asset=page_asset %}
          {% endfor %}
        </ul>
        </div>
      </div>
    {% endif %}

{% endblock pre_body %}

{% block site %}

  <div class="container-fluid">

    <div class="navbar">
        <div class="main">
            {% include "common/components/side_bar.html" with side_bar_closed="true" %}
            <ul class="nav-top">
                <li>
                    {% url 'boats:all_boats' as all_boats_page %}
                  <a href="{% if all_boats_page %}{{ all_boats_page }}{% else %}#{% endif %}" class="nav-link text-uppercase">
                    {% trans "ALL MODELS" %}
                  </a>
                </li>
                <li>{% include "home/partials/newsletter.html" %}</li>
                <li><a href="{% url 'common:what-is-new' %}"
                       class="nav-link text-uppercase">{% trans "what's new" %}</a></li>
                <li><a href="{% url 'common:events' %}" class="nav-link text-uppercase">{% trans "events" %}</a></li>
            </ul>
            {% include "common/components/language_dropdown.html" %}
        </div>
    </div>

    <div class="nav-icon-right">
        <ul class="nav-icon">
            <li>
                {% url 'boats:all_boats' as all_boats_page %}
                <a href="{% if all_boats_page %}{{ all_boats_page }}{% else %}#{% endif %}">
                    <img src="{% static "common/images/ico-boats.svg" %}" class="img-responsive">
                    <span>{% trans "models" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url "owners_portal:owners_portal" %}">
                    <img src="{% static "common/images/ico-portal.svg" %}" class="img-responsive">
                    <span>{% blocktrans %}owner's <br/>portal{% endblocktrans %}</span>
                </a>
            </li>
            <li>
                {% page_url 'contact' as contact_page %}
                <a href="{% if contact_page %}{{ contact_page }}{% else %}#{% endif %}">
                    <img src="{% static "common/images/ico-contact.svg" %}" class="img-responsive ico-contact-home">
                    <span>{% blocktrans %}contact{% endblocktrans %}</span>
            </li>
        </ul>
    </div>
  </div>

    {% addtoblock "cdn_js" %}
        <script src="//vjs.zencdn.net/5.8.8/video.js"></script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
      <link rel="stylesheet" href="{% static 'common/css/styles.css' %}">
      <link rel="stylesheet" href="{% static 'common/css/devartis.css' %}">
      <link rel="stylesheet" href="{% static 'common/css/home.css' %}">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static "common/js/home.js" %}"></script>
    {% endaddtoblock %}
    <style type="text/css">
        .brand {
            padding: 10px 60px 15px 44px;
        }
        .navbar {
            margin-left: -15px;
            border-radius: 0;
            min-height: 70px;
            border: 0;
        }
        .navbar .main {
            margin-left: 0;
            padding-left: 50px;
            background: #000;
        }
        .nav-sidebar {
            position: relative;
            margin-top: 0;
            left: 0;
            float: left;
        }
        .navbar-intrepid-logo {
            background-size: 150px;
            background-position: center;
            border-left: 1px solid rgba(255,255,255,0.5);
            border-right: 1px solid rgba(255,255,255,0.5);
            height: 50px;
        }
        .brand .navbar-toggle {
            height: 41px !important;
            position: relative;
            top: 5px;
        }
        .nav-top a.nav-link {
            border-top: 0;
            font-weight: bold;
        }
        .nav-top {
            margin-top: 15px;
            position: relative;
            margin-left: 15px;
            left: 0;
            transform: translateX(0);
            -webkit-padding-start: 0;
        }
        .nav-top-right li label {
            height: 70px;
            line-height: 70px;
            border-right: 1px solid rgba(255,255,255,0.5);
            font-weight: bold;
        }
        .nav-top-right a {
            padding: 26px 15px !important;
            font-weight: bold;
        }
        .nav-top-right li .button {
            padding: 26px 13px;
        }
        .sidebar-content.on .close-sidebar {
            display: block;
        }
        .video-wrapper {
            position: absolute;
        }
        .home .vjs-tech {
            top: 0;
        }

        @media only screen and (max-width: 1400px) {
            .nav-top li {
                margin-right: 20px;
            }
        }
        @media only screen and (max-width: 1399px) and (min-width: 1201px) {
            .nav-sidebar {
                width: 373px;
            }
        }
        @media only screen and (max-width: 1199px) {
            .nav-top li {
                margin-right: 10px;
            }
            .nav-sidebar {
                width: 373px;
            }
        }
        @media only screen and (max-width: 1025px) and (min-width: 768px) {
            .nav-sidebar {
                width: 302px;
            }
            .nav-sidebar .brand {
                padding: 10px 20px 15px 10px;
            }
            .nav-top {
                transform: translateX(0) !important;
            }
            .navbar .main {
                padding-left: 10px;
            }
            .nav-top-right li .button {
                padding: 26px 0;
            }
            .nav-top-right a {
                padding: 26px 5px !important;
            }
            .nav-top-right li label {
                margin-right: 0;
            }
            .nav-top a.nav-link {
                font-size: 10px;
            }
        }
    </style>
{% endblock site %}

