{% load i18n %}

<h1>{% trans "A user has registered" %}</h1>
<div>
    <div>
        <p>
            A new applicant resume has been submitted:
        </p>
        <ul>
            <li>First name: {{ first_name }}</li>
            <li>Last name: {{ last_name }}</li>
            <li>Email: {{ email }}</li>
            {% if phone_number %}
                <li>Phone: {{ phone_number }}</li>
            {% endif %}
            {% if resume_url %}
                <li><a href="{{ domain }}{{ resume_url }}">Resume</a></li>
            {% endif %}
            {% if additional_notes %}
                <li>Additional notes: {{ additional_notes }}</li>
            {% endif %}
        </ul>
    </div>
</div>
