{% extends "mobile/common/mobile_base.html" %}
{% load staticfiles i18n sekizai_tags cms_tags %}

{% block body_classes %}
  home
{% endblock body_classes %}

{% block content %}

  <div class="navbar">
    <div class="main">
      <ul class="nav-top">
        <li>{% include "home/partials/newsletter.html" with mobile=True%}</li>
        <li><a href="{% url 'common:what-is-new' %}"
               class="nav-link text-uppercase">{% trans "what's new" %}</a></li>
        <li><a href="{% url 'common:events' %}" class="nav-link text-uppercase">{% trans "events" %}</a></li>
      </ul>
    </div>
  </div>

  <div class="nav-icon-right">
    <ul class="nav-icon">
      <li>
        {% url 'boats:all_boats' as all_boats_page %}
        <a href="{% if all_boats_page %}{{ all_boats_page }}{% else %}#{% endif %}">
          <img src="{% static "common/images/ico-boats.svg" %}" class="img-responsive">
          <span>{% trans "models" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url "owners_portal:owners_portal" %}">
          <img src="{% static "common/images/ico-portal.svg" %}" class="img-responsive">
          <span>{% blocktrans %}owner's <br/>portal{% endblocktrans %}</span>
        </a>
      </li>
      <li>
          {% page_url 'contact' as contact_page %}
          <a href="{% if contact_page %}{{ contact_page }}{% else %}#{% endif %}">
              <img src="{% static "common/images/ico-contact.svg" %}" class="img-responsive ico-contact">
              <span>{% blocktrans %}contact{% endblocktrans %}</span>
      </li>
    </ul>
  </div>

  {% addtoblock "cdn_js" %}
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% endaddtoblock %}

  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "common/css/home.css" %}">
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static "common/js/home_mobile.js" %}"></script>
  {% endaddtoblock %}

{% endblock content %}
{% block footer %}
{# No footer #}
{% endblock %}