{% load staticfiles i18n thumbnail %}

<style type="text/css">
  .boat_content {
    display: none;
  }
  .boat_content.active {
    display: block;
  }
  .header-image {
    display: none;
  }
  .header-image.active {
    display: block;
  }
  h3.boat_content.form-heading {
    text-align: center;
  }
  h3.boat_content.form-heading span {
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 1.5;
    padding: 2px 15px;
    margin-top: 6px;
    font-size: 13px;
    position: relative;
    display: block;
    width: 210px;
    margin: 0 auto;
    margin-top: 10px;
  }
  h3.boat_content.form-heading span a {
    color: #fff;
  }
  .boat_content .order_reports {
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid #000;
    margin-top: 2px;
    display: none;
  }
  .boat_content .order_reports ul {
    margin-top: 10px;
  }
  .boat_content .order_reports ul li a {
    color: #337ab7;
  }
</style>

<div role="tabpanel" class="tab-pane fade tab-dashboard" id="dashboard">

  <div class="main">
    <div class="main-content">

      {% if request.user.is_authenticated %}

        {% if last_boat and last_boat.last_step %}

          <!-- ./timeline -->
          {% with last_boat.last_step as last_step %}
            {% if last_step %}

              {% for step in last_boat.steps.all %}
              <div class="header-image boat_content {% if step.pk == last_step.pk %}active{% endif %}" data-pk="{{ step.pk }}">
                <ul class="boatImagesSlider">
                  {% for asset in step.assets.all %}
                    <li>
                      <a href="{{ asset.asset_url }}" data-toggle="lightbox"
                         class="step-asset" data-gallery="steps-gallery">
                      {%if asset.vimeo_video_code %}
                      <span class="gallery-btn-play no-pointer-events">
                        <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid" tabindex="-1" id="play">
                          <polygon class="fill" points="1,0 20,10 1,20"></polygon>
                        </svg>
                      </span>
                      {% endif %}
                        <img src="{{ asset.image|thumbnail_url:'mobile' }}" class="img-responsive"/>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}

              <ol class="timeline clearfix">
                {% for step__ in last_boat.steps.all %}
                  <li class="{% if forloop.first %}first
                                           {% elif forloop.last %}last
                                           {% else %}mid{% endif %}">
                    <span class="circle {% if forloop.last %}active{% endif %}"></span>
                    <span class="line"></span>
                    <span class="txt-content">
                      <h4 class="text-uppercase">{{ step__.title }}</h4>
                      <p>{{ step__.start_date|date:"N d" }}</p>
                      <p>{{ step__.start_date|date:"o" }}</p>
                    </span>
                  </li>
                {% endfor %}
              </ol>

              <h2>Pure craftsmanship</h2>

              {% for step in last_boat.steps.all %}

              <h3 class="form-heading text-uppercase boat_content {% if forloop.last %}active{% endif %}" data-pk="{{ step.pk }}">{{ step.phase.title }}: {{ step.title }}
                <span>
                  <a href="javascript:void(0);" class="open_report">GO TO OLDER REPORTS</a>
                  <div class="order_reports">
                    <ul>
                    {% for step_ in last_boat.steps.all %}
                      <li><a href="javascript:void(0);" class="mobile_link_to_report" data-pk="{{ step_.pk }}">{{ step_.start_date|date:"N d, o" }}</a></li>
                    {% endfor %}
                    </ul>
                  </div>
                </span>
              </h3>

              <div class="row mt6 boat_content {% if forloop.last %}active{% endif %}" data-pk="{{ step.pk }}">
                <div class="col-sm-12">
                  {{ step.phase.description|safe }}
                </div>

                <div class="mb4 clearfix"></div>

                <div class="col-sm-10 col-sm-offset-1">
                  <div class="flex">
                    <span class="circle date">
                        {{ step.start_date|date:"N" }}
                      <div class="num">{{ step.start_date|date:"d" }}</div>
                    </span>
                    <span>
                    {% for step_ in last_boat.steps.all %}
                      {% if step_.pk == step.pk %}
                        <h4>{{ step_.title }}</h4>
                        <p>{{ step_.description|safe }}</p>
                      {% endif %}
                    {% endfor %}
                    </span>
                  </div>
                </div>

                <div class="col-sm-12">
                  {% include "owners_portal/stepfeedback_form.html" with step=step %}
                </div>
              </div>

              {% endfor %}
            {% else %}

            {% endif %}
          {% endwith %}

        {% endif %}

        {% if last_boat %}
          {% include "owners_portal/partials/boat_details_modal.html" %}
        {% endif %}

      {% else %}

        <p>Please <a href="{% url 'common:login' %}">log-in</a> or <a href="{% url 'common:register' %}">sign up</a>
          to create an account to enjoy all the tools in our Owner’s Portal.</p>
      {% endif %}

    </div>
  </div>
</div>

