{% load i18n static %}

<ul class="gallery bxslider">
  {% for sub_gallery in gallery %}
    <li>
        <section class="mosaic mosaic-5">
          {% for media in sub_gallery %}
            {% include "owners_portal/partials/gallery_mosaic_item.html" with media=media %}
          {% endfor %}
        </section>
    </li>
  {% endfor %}

</ul>

<div class="main">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <nav class="pull-right">
          <div id="bx-pager">
            <ul class="pag">

              {% for sub_gallery in gallery %}
                <li><a data-slide-index="{{ forloop.counter0 }}" href="">{{ forloop.counter }}</a></li>
              {% endfor %}

              <li><span id="slider-next"></span></li>

            </ul>
          </div>
        </nav>
      </div>
    </div>
</div>
