{% load i18n %}

<h1>{% trans "Optional equipment" %}</h1>
<div>
    <div>
        <p>
            Hey {{ first_name }}, here's the list of options you're interested in for your {{ boat_model }}.
            We’re excited you’re interested in building an Intrepid. And even more excited that we can help you make it
            unlike any other Intrepid on the water. So hang tight. A salesperson will reach out to you shortly to help.
        </p>
        <ul>
            {% for equipment in equipment_list %}
                <li>{{ equipment }}</li>
            {% empty %}
                (No equipment)
            {% endfor %}
        </ul>
    </div>
</div>
